.sidebar-sticky {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  padding: 0;
  margin: 0;
  transition: .2s;
  background-color: #343a40;
  border: none;
  width: 100%;
  text-align: left;
  list-style: none;
}
  
li:hover{
  border-left: 4px solid white;
  background-color: #212529;
  transition: .2s;
}
  
.side-menu-active{
  background-color: #212529;
  border-left: 4px solid white;
}

.side-menu-active:hover{
  transition: none !important;
  border: none;
}